openapi: 3.0.0
info:
  contact:
    email: contact@obslabs.io
  description: |
    # Authentication

    ObsLabs uses basic auth to authenticate the API. You can create API keys in the account settings. Use your API key as the basic auth password. The username should be left blank (notice the colon sign before api-key that must be included). All requests must be made over https.

    Example usage:
    ```bash
    curl -u :<YOUR API KEY> https://api.obslabs.io/v1/users/me
    ```

    # Errors

    The API returns a structured error response in case of failure. Below is the format of the error response object:

    ```json
    {
      "error": {
        "status": 400,
        "code": "VALIDATION",
        "message": "Validation errors occurred.",
        "details": [
          {
            "field": "email",
            "issue": "The email address is not in a valid format."
          },
          {
            "field": "password",
            "issue": "The password must be at least 8 characters long."
          }
        ]
      }
    }
  termsOfService: https://obslabs.io/terms-of-service
  title: ObsLabs API
  version: "1.0"
  x-logo:
    url: https://obslabs.io/img/logo.color.svg
servers:
- description: PROD
  url: https://api.obslabs.io
security:
- apiToken: []
paths:
  /v1/organizations:
    get:
      operationId: v1-list-organizations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_list_organizations_200_response'
          description: List Organizations
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: List Organizations
      tags:
      - Organizations
      x-stoplight:
        id: ieo1xs6v1ixz9
    post:
      operationId: v1-create-organization
      requestBody:
        $ref: '#/components/requestBodies/V1.Organizations.CreateBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_organization_201_response'
          description: Create Organization
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Create Organization
      tags:
      - Organizations
      x-stoplight:
        id: 2euq70ov6jnoo
  /v1/organizations/{oID}:
    delete:
      description: Delete Organization
      operationId: v1-delete-organization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Delete Organization
      tags:
      - Organizations
      x-stoplight:
        id: stt92h5jxmv28
    get:
      description: Get Organization
      operationId: v1-get-organization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_organization_201_response'
          description: Get Organization
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Get Organization
      tags:
      - Organizations
      x-stoplight:
        id: 7d7lugk98kqlc
    patch:
      description: Update Organization
      operationId: v1-update-organization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Organizations.UpdateBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_organization_201_response'
          description: Update Ogranization
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Update Organization
      tags:
      - Organizations
      x-stoplight:
        id: zjrg636wg6wa4
  /v1/organizations/{oID}/projects:
    get:
      description: List Projects
      operationId: v1-list-projects
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_list_projects_200_response'
          description: List Projects
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: List Projects
      tags:
      - Projects
      x-stoplight:
        id: 6nwhavov1c57h
    post:
      description: Create Project
      operationId: v1-create-project
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Projects.CreateBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_project_201_response'
          description: Create Project
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Create Project
      tags:
      - Projects
      x-stoplight:
        id: 33s2sf3zkr3vc
  /v1/organizations/{oID}/projects/{pID}:
    delete:
      operationId: v1-delete-project
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Delete Project
      tags:
      - Projects
      x-stoplight:
        id: nepwdmvh22vss
    get:
      operationId: v1-get-project
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_project_201_response'
          description: Get Project
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Get Project
      tags:
      - Projects
      x-stoplight:
        id: kj42fw3zbtzhr
    patch:
      operationId: v1-update-project
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Projects.UpdateBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_update_project_200_response'
          description: Update Project
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Update Project
      tags:
      - Projects
      x-stoplight:
        id: nzn02j14d02rg
  /v1/organizations/{oID}/projects/{pID}/probes:
    get:
      description: List probes
      operationId: v1-list-probes
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_list_probes_200_response'
          description: List Probes
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: List Probes
      tags:
      - Probes
      x-stoplight:
        id: 3iung7y0mdtsa
    post:
      description: Create Probe
      operationId: v1-create-probe
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Probes.CreateBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_probe_201_response'
          description: Create Probe
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Create Probe
      tags:
      - Probes
      x-stoplight:
        id: jydpxioog3ek8
  /v1/organizations/{oID}/projects/{pID}/probes/{prID}:
    delete:
      operationId: v1-delete-probe
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: Probe ID
        explode: false
        in: path
        name: prID
        required: true
        schema:
          example: ECD3gsVktn1E_xuPYMlrig
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Delete Probe
      tags:
      - Probes
      x-stoplight:
        id: ybojx40sjcnud
    get:
      operationId: v1-get-probe
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: Probe ID
        explode: false
        in: path
        name: prID
        required: true
        schema:
          example: ECD3gsVktn1E_xuPYMlrig
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_probe_201_response'
          description: Get Probe
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Get Probe
      tags:
      - Probes
      x-stoplight:
        id: mfdrqlobghgch
    patch:
      operationId: v1-update-probe
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: Probe ID
        explode: false
        in: path
        name: prID
        required: true
        schema:
          example: ECD3gsVktn1E_xuPYMlrig
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Probes.UpdateBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_probe_201_response'
          description: Update Probe
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Update Probe
      tags:
      - Probes
      x-stoplight:
        id: rvzkcv7mazpsq
  /v1/organizations/{oID}/projects/{pID}/channels:
    get:
      description: List Channels
      operationId: v1-list-channels
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_list_channels_200_response'
          description: List Channels
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: List Channels
      tags:
      - Channels
      x-stoplight:
        id: n94fgwu6rwgr4
    post:
      description: Create Channel
      operationId: v1-create-channel
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Channels.CreateBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_channel_201_response'
          description: Create Channel
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Create Channel
      tags:
      - Channels
      x-stoplight:
        id: 1y8ed8plejmg6
  /v1/organizations/{oID}/projects/{pID}/channels/{chID}:
    delete:
      description: Delete Channel
      operationId: v1-delete-channel
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: Channel ID
        explode: false
        in: path
        name: chID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Delete Channel
      tags:
      - Channels
      x-stoplight:
        id: 58rlmo7u972k9
    get:
      description: Get Channel
      operationId: v1-get-channel
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: Channel ID
        explode: false
        in: path
        name: chID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_channel_201_response'
          description: Get Channel
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Get Channel
      tags:
      - Channels
      x-stoplight:
        id: tgj8wspomk9d5
    patch:
      description: Update Channel
      operationId: v1-update-channel
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: Channel ID
        explode: false
        in: path
        name: chID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Channels.UpdateBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_channel_201_response'
          description: Update Channel
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Update Channel
      tags:
      - Channels
      x-stoplight:
        id: bl4savi6e40ih
  /v1/organizations/{oID}/invitations:
    get:
      description: List Invitations
      operationId: v1-list-invitations
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_list_invitations_200_response'
          description: List Invitations
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: List Invitations
      tags:
      - Invitations
      x-stoplight:
        id: 31oxta72sgzjm
    post:
      description: Send Invitation
      operationId: v1-send-invitation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Invitations.SendBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_send_invitation_201_response'
          description: Send Invitation
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Send Invitation
      tags:
      - Invitations
      x-stoplight:
        id: 5z57dh3b4c98m
  /v1/organizations/{oID}/invitations/{invID}:
    delete:
      operationId: v1-revoke-invitation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Invitation ID
        explode: false
        in: path
        name: invID
        required: true
        schema:
          example: 2pg7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Revoke Invitation
      tags:
      - Invitations
      x-stoplight:
        id: cwzcw54dqjrkm
    get:
      operationId: v1-get-invitation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Invitation ID
        explode: false
        in: path
        name: invID
        required: true
        schema:
          example: 2pg7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_send_invitation_201_response'
          description: Example response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Get Invitation
      tags:
      - Invitations
      x-stoplight:
        id: oy60reuxi25d1
  /v1/organizations/{oID}/invitations/{invID}/accept:
    post:
      operationId: v1-accept-invitation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Invitation ID
        explode: false
        in: path
        name: invID
        required: true
        schema:
          example: 2pg7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Invitations.SecretKeyBody'
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Accept Invitation
      tags:
      - Invitations
      x-stoplight:
        id: fwm2nm4h5xuqe
  /v1/organizations/{oID}/invitations/{invID}/resend:
    post:
      description: Resend Invitation
      operationId: v1-resend-invitation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Invitation ID
        explode: false
        in: path
        name: invID
        required: true
        schema:
          example: 2pg7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_send_invitation_201_response'
          description: Example response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Resend Invitation
      tags:
      - Invitations
      x-stoplight:
        id: yjotxmj2nuzxi
  /v1/organizations/{oID}/members/{uID}:
    delete:
      description: Delete Organization Member
      operationId: v1-organization-member-delete
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: uID
        required: true
        schema:
          example: iaI_KnKzSNxMhqwNKfvEuw
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Delete Organization Memeber
      tags:
      - Organizations
      x-stoplight:
        id: or1ct5eudg5k0
    patch:
      operationId: v1-organization-member-update
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: uID
        required: true
        schema:
          example: iaI_KnKzSNxMhqwNKfvEuw
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Organizations.Members.UpdateBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_organization_member_update_200_response'
          description: Update Organization Member
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Update Organization Member
      tags:
      - Organizations
      x-stoplight:
        id: igcv53hpxc237
  /v1/organizations/{oID}/projects/{pID}/members:
    post:
      description: Add Organization Member to Project
      operationId: v1-project-member-create
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Projects.Members.CreateBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_project_member_create_200_response'
          description: Add Project Member Response
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Add Project Member
      tags:
      - Projects
      x-stoplight:
        id: 5qaa9qucgip5x
  /v1/organizations/{oID}/projects/{pID}/members/{uID}:
    delete:
      description: Delete Project Member
      operationId: v1-project-member-delete
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: uID
        required: true
        schema:
          example: iaI_KnKzSNxMhqwNKfvEuw
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Delete Project Member
      tags:
      - Projects
      x-stoplight:
        id: o5ccn32kvo5c7
    patch:
      description: Update Project Member
      operationId: v1-project-member-update
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: uID
        required: true
        schema:
          example: iaI_KnKzSNxMhqwNKfvEuw
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/V1.Projects.Members.UpdateBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_project_member_create_200_response'
          description: Update Project Member Response
        "400":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 400
                      code: VALIDATION
                      message: Validation errors occurred.
                      details:
                      - field: email
                        issue: Is not valid email address
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Response
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Update Project Member
      tags:
      - Projects
      x-stoplight:
        id: 4c1sr93lvrfie
  /v1/organizations/{oID}/projects/{pID}/integrations:
    get:
      operationId: v1-list-integrations
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_list_integrations_200_response'
          description: List Integrations
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: List Integrations
      tags:
      - Integrations
      x-stoplight:
        id: zkfwbldht09rm
  /v1/organizations/{oID}/projects/{pID}/integrations/{intID}:
    delete:
      operationId: v1-delete-integrations
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: oID
        required: true
        schema:
          example: NTz6OnG_yqlm_0qUmjHJjg
          type: string
        style: simple
      - description: Project ID
        explode: false
        in: path
        name: pID
        required: true
        schema:
          example: 1_g7EQvDIFjREnMBuRQ30Q
          type: string
        style: simple
      - description: Integration ID
        explode: false
        in: path
        name: intID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "403":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 403
                      code: FORBIDDEN
                      message: You do not have permission to access this resource.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Forbidden
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Delete Integration
      tags:
      - Integrations
      x-stoplight:
        id: jlh206wnjfg9i
  /v1/users/me:
    get:
      operationId: v1-my-user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_my_user_200_response'
          description: Get User.
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "404":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 404
                      code: NOT_FOUND
                      message: Resource not found.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Not Found
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: My User
      tags:
      - Users
      x-stoplight:
        id: y44xofsi6nqek
  /v1/api-keys:
    get:
      operationId: v1-list-api-keys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_list_api_keys_200_response'
          description: List API Keys
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: List API Keys
      tags:
      - API Keys
      x-stoplight:
        id: 2rwl9ia854asb
    post:
      description: Create API Key
      operationId: v1-create-api-key
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1_create_api_key_201_response'
          description: Create API Key
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Create API Key
      tags:
      - API Keys
      x-stoplight:
        id: 697tynsgx8kek
  /v1/api-keys/{kID}:
    delete:
      description: Delete API Key
      operationId: v1-delete-api-key
      parameters:
      - explode: false
        in: path
        name: kID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 401
                      code: UNAUTHORIZED
                      message: "Authentication is required. Read more in API Documentation\
                        \ paragraph #Authentication"
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: 'Error Unauthorized '
        "500":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    error:
                      status: 500
                      code: INTERNAL
                      message: Internal error occurred. An error report has been sent
                        to the team. Please try again later.
              schema:
                $ref: '#/components/schemas/v1_list_organizations_401_response'
          description: Error Internal
      summary: Delete API Keys
      tags:
      - API Keys
      x-stoplight:
        id: 0i024pjhmhyon
components:
  parameters:
    Organization-ID:
      description: Organization ID
      explode: false
      in: path
      name: oID
      required: true
      schema:
        example: NTz6OnG_yqlm_0qUmjHJjg
        type: string
      style: simple
    Project-ID:
      description: Project ID
      explode: false
      in: path
      name: pID
      required: true
      schema:
        example: 1_g7EQvDIFjREnMBuRQ30Q
        type: string
      style: simple
    Invitation-ID:
      description: Invitation ID
      explode: false
      in: path
      name: invID
      required: true
      schema:
        example: 2pg7EQvDIFjREnMBuRQ30Q
        type: string
      style: simple
    User-ID:
      description: User ID
      explode: false
      in: path
      name: uID
      required: true
      schema:
        example: iaI_KnKzSNxMhqwNKfvEuw
        type: string
      style: simple
    Probe-ID:
      description: Probe ID
      explode: false
      in: path
      name: prID
      required: true
      schema:
        example: ECD3gsVktn1E_xuPYMlrig
        type: string
      style: simple
    Channel-ID:
      description: Channel ID
      explode: false
      in: path
      name: chID
      required: true
      schema:
        type: string
      style: simple
    Integration-ID:
      description: Integration ID
      explode: false
      in: path
      name: intID
      required: true
      schema:
        type: string
      style: simple
  requestBodies:
    V1.Probes.CreateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_create_probe_request'
      description: Create Probe
    V1.Channels.CreateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_create_channel_request'
      description: Create Channel
    V1.Channels.UpdateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_update_channel_request'
      description: Update Channel
    V1.Probes.UpdateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_update_probe_request'
      description: Update Probe
    V1.Projects.UpdateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_update_project_request'
      description: Update Project
    V1.Organizations.CreateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_create_organization_request'
    V1.Organizations.UpdateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_update_organization_request'
    V1.Projects.CreateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_create_project_request'
    V1.Invitations.SendBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_send_invitation_request'
    V1.Projects.Members.UpdateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_project_member_update_request'
    V1.Projects.Members.CreateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_project_member_create_request'
    V1.Organizations.Members.UpdateBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/v1_organization_member_update_request'
[...]
